[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
    http://good-py.appspot.com/release/dexterity/1.2.1?plone=4.1.6

package-name = collective.folderprotection
package-extras = [test]
versions = versions

parts += omelette

[versions]
plone.app.testing=4.2.2

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
